.navbar-nav .nav-link {
    margin-right: 10px; 
    margin-left: 10px;  
    margin-top: 5px;
    
  }

 
#home{
    display: flex;
    height: auto;
    
    background-image: url(img/portfolio-background05.jpg)
    
}

#firstPara{

    margin-top: 15%;
    margin-inline-start: 5% ;

}
#Sandaruwan{
    color: aliceblue;
}





#sithumImg{

   max-width: 100%;
   display: block;
   margin-top: 10%;
    
}

